body {
  margin: 0;
}

/* 전체 */

div {
}

/* 개별 */

#red {
  background-color: red;
  width: 100%;
  height: 200px;
}

#orange {
  background-color: orange;
  width: 25%;
  height: 200px;
  float: left;
}

#yellow {
  background-color: yellow;
  width: 50%;
  height: 200px;
  float: left;
}

#green {
  background-color: green;
  width: 25%;
  height: 200px;
  float: left;
}

#blue {  
  background-color: blue;
  width: 50%;
  height: 200px;
  float: left;
}

#indigo {
  background-color: indigo;
  width: 50%;
  height: 200px;
  float: left;
}

#purple {
  background-color: purple;
  width: 100%;
  height: 200px;
  float: left;
}