

h1{
	text-align: center;
	color: rgb(204, 102, 204);
}


p {
	text-align: center;
	background-color: rgb(204, 102, 204);
	font-family: 'Do Hyeon', sans-serif;
}

div{
	text-align: center;
	text-decoration: none;
}