* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

#navbar{
  height: 60px;
  background-color: white;
  line-height: 60px;
  vertical-align: middle;
}

#navbar li{
  margin-right: 30px;
  font-size: 13px;
  font-weight: 700;
  float: right;
}

#navbar li a{
  color: black;
  text-decoration: none;
}

#navbar ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: right;
}

#logo{
  display: inline-block;
  margin-left: 30px;
  height: 20px;
  vertical-align: middle;
}

/* hero header */
#header{
  background-image: url('../images/hero_header_sp.jpg');
  background-size: cover;
  background-position: center center;
  height: 450px;


}
/* products */
h1{
  text-align: center;
  font-size: 24px;
  color: #545454;
  font-weight: bold;
  margin: 60px;
}

.menu{
  width: 225px;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  margin-bottom: 80px;
}

.menu img{
  width: 225px;
  height: 225px;
  margin-bottom: 20px;
}

.menu p{
  font-size: 16px;
  color: #545454;
  text-align: center;
  margin: 0px;
}

.menu p:last-child{
  margin-top: 4px;
}

a{
  text-decoration: none;
}

#products{
  width: 735px;
  margin-right: auto;
  margin-left: auto;
}

#f_2{
  clear: left;
}

#f_1{
  clear: left;
}


/* footer */
#footer {
  clear: left;
  margin-top: 40px;
  width: 129px;
  margin-left: auto;
  margin-right: auto;
  
}

#footer img {
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 80px;
}